/* css/painel_tabela.css */
.table-hover tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.table-dark {
    --bs-table-bg: #212529;
    --bs-table-border-color: #454d55;
}

.thumb-preview {
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s;
}
.thumb-preview:hover {
    transform: scale(1.1);
}

/* --- CONTROLE DE VISIBILIDADE --- */

/* MODO DE VISUALIZAÇÃO: Esconde todos os campos de formulário e botões de ação de edição */
.view-mode .form-control,
.view-mode .form-select, /* <-- REGRA ADICIONADA */
.view-mode .form-check-input {
    display: none;
}

.view-mode .btn-salvar,
.view-mode .btn-cancelar {
    display: none;
}


/* MODO DE EDIÇÃO: Esconde os textos e botões de ação de visualização */
.edit-mode .data-span {
    display: none;
}

.edit-mode .btn-editar,
.edit-mode .btn-deletar {
    display: none;
}


/* MODO DE EDIÇÃO: Mostra os campos de formulário e os botões de ação corretos */
.edit-mode .form-control,
.edit-mode .form-select, /* <-- REGRA ADICIONADA */
.edit-mode .form-check-input {
    display: inline-block;
}

.edit-mode .btn-salvar,
.edit-mode .btn-cancelar {
    display: inline-block;
}